<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Logo</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{{#if isHome}}
				<li class="active"><a href="/">Home</a></li>
			{{else}}
				<li><a href="/">Home</a></li>
			{{/if}}
			{{#if isList}}
				<li class="active"><a href="/list">List</a></li>
			{{else}}
				<li><a href="/list">List</a></li>
			{{/if}}

			{{#if isAuth}}
				{{#if isListAdd}}
				<li class="active"><a href="/list_add">Add</a></li>
				{{else}}
				<li><a href="/list_add">Add</a></li>
				{{/if}}
				{{#if isCart}}
				<li class="active"><a href="/cart">Cart</a></li>
				{{else}}
				<li><a href="/cart">Cart</a></li>
				{{/if}}
				{{#if isProfile}}
				<li class="active"><a href="/profile">Profile</a></li>
				{{else}}
				<li><a href="/profile">Profile</a></li>
				{{/if}}
				{{#if isOrder}}
				<li class="active"><a href="/orders">Orders</a></li>
				{{else}}
				<li><a href="/orders">Orders</a></li>
				{{/if}}
				<li><a href="/auth/signout">Sign Out</a></li>
			{{else}}
				{{#if isLogin}}
				<li class="active"><a href="/auth/signin#login">Sign In</a></li>
				{{else}}
				<li><a href="/auth/signin#login">Sign In</a></li>
				{{/if}}
			{{/if}}



		</ul>
	</div>
</nav>