<h1>{{title}}</h1>

<div id="cart">
{{#if items.length}}
	<table>
		<thead>
			<tr>
				<th>Название</th>
				<th>Количество</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each items}}
				<tr>
					<td>{{title}}</td>
					<td>{{count}}</td>
					<td>
						<button class="btn btn-small remove" 
						data-id="{{_id}}"
						data-csrf="{{@root.csrf}}">Удалить</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<p>Общая стоимость:</p>
	<p class="price">{{price_total}}</p>

	<form action="/orders" method="post">
		<input type="hidden" name="_csrf" value="{{csrf}}">
		<input type="submit" value="Make order" class="btn">
	</form>

{{else}}
	<p>Корзина пуста</p>
{{/if}}
</div>