<h2>List</h2>

{{#if list.length}}
{{#each list}}
{{!-- <div class="row"> --}}
    <div class="flex_container">
	{{!-- <div class="col s12 m6"> --}}
		<div class="card">
            <span class="card-title">{{title}}</span>
            <div class="card-image">
                <img src="{{img}}">
            </div>
            <div class="card-content">
				<p class="price">{{price}}</p>
			</div>
			<div class="card-action mycardaction">
				<a href="/list/{{id}}" target="_blank" class="btn red lighten-2">Открыть</a>
            
                {{#if @root.isAuth}}
				<a href="/list/{{id}}/edit?allow=true" class="btn light-green lighten-2">Редактировать</a>
                <form action="/cart/add" method="post">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Купить</button>
                </form>
                {{/if}}
			</div>
        </div>
	{{!-- </div> --}}
    </div>
{{!-- </div> --}}
{{/each}}
{{else}}
<p>Nothing</p>
{{/if}}