<h2>Profile</h2>

<div class="row">
    <div class="col s6">
<!--        <img src="./1587626460731-Речвокзал.jpg" class="avatar" alt="User's avatar">-->
        {{#if user.avatarUrl}}
            <img src="{{user.avatarUrl}}" class="avatar" alt="User's avatar">
        {{else}}
        <p>No avatar</p>
        {{/if}}
    </div>
    <div class="col s6">
        <form action="/profile" method="post" enctype="multipart/form-data">

            <div class="input-field">
                <input id="email" name="email" type="text" class="validate" required value="{{user.email}}">
                <label for="email">Електронныя пошта</label>
                <span class="helper-text" data-error="Enter a correct email"></span>
            </div>

            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
                <label for="name">Имя</label>
                <span class="helper-text" data-error="Enter a name"></span>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Choose</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value="{{user.avatarUrl}}">
                </div>
            </div>

            <button type="submit" class="btn center">Change</button>
            <input type="hidden" name="_csrf" value="{{csrf}}">

        </form>
    </div>
</div>